html, body {
    margin: 0;
    display: flex;
    background-color: rgb(0, 0, 0);
    aspect-ratio: 16/9;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.blockSelect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.moveLink{
    position: absolute;
    background-image: url("../RESOURCES/IMAGES/INTERACTIVE/Arrow_01.png");
    background-repeat: no-repeat;
    background-size:contain;
    width: 100px;
    height: 100px;
    bottom: 35%;
    border-radius: 100%;
    border-width: 10px;
}
.moveLink:hover{
    background-image: url("../RESOURCES/IMAGES/INTERACTIVE/Arrow_02.png");
}

.middleAbsolute{
    position: absolute;
    
}