@keyframes OpenRightDoor {
    0% {
        transform: translate(0%);
        animation-timing-function: ease-in-out;
    }
    5% {
        transform: translate(0%);
        animation-timing-function: ease-in-out;
    }
    15% {
        transform: translate(-0.5%);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translate(-15%);
    }
}
@keyframes OpenLeftDoor {
    0% {
        transform: translate(0%);
        animation-timing-function: ease-in-out;
    }
    5% {
        transform: translate(0%);
        animation-timing-function: ease-in-out;
    }
    15% {
        transform: translate(0.5%);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translate(15%);
    }
}
@keyframes CloseRightDoor {
    0% {
        transform: translate(-15%);
        animation-timing-function: ease-in-out;
    }
    5% {
        transform: translate(-15%);
        animation-timing-function: ease-in-out;
    }
    15% {
        transform: translate(-14.5%);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translate(0%);
    }
}
@keyframes CloseLeftDoor {
    0% {
        transform: translate(15%);
        animation-timing-function: ease-in-out;
    }
    5% {
        transform: translate(15%);
        animation-timing-function: ease-in-out;
    }
    15% {
        transform: translate(14.5%);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translate(0%);
    }
}

#panel {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    top: 2.5%;
    left: 37.5%;
    width: 20%;
    height: 52.5%;
}

#buttonsSection {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 24%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 72%;
    mix-blend-mode: multiply;
}

@font-face {
    font-family: TheBoldFont;
    src: url("../RESOURCES/FONTS/TOMMYBold.otf");
}

.elevatorButton {
    display: flex;
    background-image: url("../RESOURCES/IMAGES/brushed-metal-circular-plate-carbon-fibre-background_1048-6831.avif");
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 0.4vh rgb(255, 255, 255) solid;
    box-shadow:
    0 0 0 2px rgb(122, 122, 122),
    0 0 10px 2px rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-family: TheBoldFont, Arial;
    color: white;
    text-shadow:
        0.2vh 0.2vh 0.2vh  #494949,
        -0.2vh -0.2vh 0.2vh #494949,
        -0.2vh 0.2vh 0.2vh #494949,
        0.2vh -0.2vh 0.2vh #494949;
    margin: 1.4vh;
}

@font-face {
    font-family: digital-7;
    src: url("../RESOURCES/FONTS/digital-7.ttf");
}

#floorTextDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 52%;
    height: 17.5%;
    top: 2.5%;
    left: 23%;
    text-align: center;
    font-family: digital-7, Arial, Helvetica, sans-serif;
    font-size: 7vh;
    color: rgb(255, 0, 0);
}