html, body {
    margin: 0%;
    padding: 0%;
    display: flex;
    background-color: rgb(255, 255, 255);
    aspect-ratio: 16/10;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Minecraft */

/*Background écran*/
#desktopContainer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
/*Background écran*/

.gameCoverGroupMinecraft {
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 27vh;
    aspect-ratio: 2/3;
    border-radius: 1vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    transition: height 0.1s ease-in-out;
}
.gameCoverGroupMinecraft:hover {
    height: 27.5vh;
    filter: brightness(115%);
}
.gameCoverGroupMinecraft:active {
    filter: brightness(90%);
}

.Minecraft element {
   border-radius: 1vh; 
}


/* background guide */
#gameRibbonMinecraft {
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    bottom: 0vh;
    background-size: 130vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url(../../../RESOURCES/IMAGES/Wiki@2x_textless.png);
    image-rendering: pixelated;
}
/* background guide */

.blockElement{
    display: flex;
    position: absolute;
    background-image: url(../../../RESOURCES/IMAGES/BlockSprite_grass-block.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    aspect-ratio: 1/1;
    height: 50%;
    z-index: 10;
    image-rendering: pixelated;
}