html, body {
    margin: 0;
    display: flex;
    background-color: rgb(0, 0, 0);
    aspect-ratio: 16/10;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.blockSelect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

#background {
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#pc-img {
    height: 100%;
    z-index: 0;
}

#wallpaper {
    position: absolute;
    aspect-ratio: 16/10;
    height: 51vh;
    z-index: 1;
}

#desktopContainer {
    position: absolute;
    aspect-ratio: 16/10;
    height: 51vh;
    justify-content: left;
    align-items: start;
    flex-wrap: wrap;
    z-index: 1;
    overflow: hidden;
}

.desktopIconGroup {
    display: flex;
    position: relative;
    background-image: url("../../RESOURCES/IMAGES/gameLauncherIcon.png");
    background-size: 4.5vh;
    background-position: center 0.5vh;
    background-repeat: no-repeat;
    width: 9vh;
    height: 7.5vh;
    z-index: 3;
    margin: 0.25vh;
    justify-content: center;
    align-items: end;
    border-width: 0.210vh;
    border-color: rgba(255, 255, 255, 0);
    border-style: dotted;
}

.desktopIconGroup:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-style: dotted;
    border-color: rgba(255, 255, 255, 0.507);
}

.desktopIconGroup:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.appTitle {
    position: absolute;
    top: 3.5vh;
    color: white; /* Set the text fill color */
    text-shadow:
    -1px -1px 0 black, /* Top-left shadow */
    1px -1px 0 black,  /* Top-right shadow */
    -1px 1px 0 black,  /* Bottom-left shadow */
    1px 1px 0 black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vh;
}

#gamesApp {
    display: flex;
    position: absolute;
    overflow: hidden;
    aspect-ratio: 16/9.4;
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(217, 217, 217, 1) 59%, rgba(97, 97, 97, 1) 64%, rgba(255, 255, 255, 1) 100%);
    height: 47.8vh;
    border-radius: 1vh;
    box-shadow: inset 0 0 0 0.25vh #0066ff, inset 0 0 0 0.25vh #0066ff, inset 0 0 0 0.25vh #0066ff;
    z-index: -1;
    justify-content: center;
    top: 24.6%;
}

#topBar {
    display: flex;
    position: absolute;
    background: linear-gradient(0deg,rgb(0, 102, 255) 0%, rgba(0, 80, 224, 1) 86%, rgba(63, 151, 255, 1) 100%);;
    height: 2vh;
    width: 100%;
    top: 0%;
    z-index: 5;
}

@font-face {
    font-family: "Inter";
    src: url(../../RESOURCES/FONTS/Inter-VariableFont_opsz\,wght.ttf);
}

#topWindowTitle{
    display: flex;
    position: absolute;
    top: 0.2vh;
    left: 1%;
    height: 1.5vh;
    font-size: 1.5vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#xButton {
    display: flex;
    position: absolute;
    background-color: #e6643d;
    aspect-ratio: 1/1;
    top: 0.2vh;
    right: 1%;
    height: 1.5vh;
    font-size: 1.5vh;
    justify-content: center;
    align-items: center;
    color: white;
    border-color: white;
    border-width: 0.2vh;
    border-style: solid;
    border-radius: 0.3vh;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
#xButton:hover {
    background-color: #f59071;
}
#xButton:active {
    background-color: #b3563a;
}

#favoriteGamesTitle {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.75vh;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    top: 5vh;
    left: 4vh;
    height: 5vh;
    width: 25vh;
    font-size: 3vh;
    color: white;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#gameRibbon {
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    overflow-x: scroll;
    bottom: 5vh;
    width: 79.6vh;
    height: 30vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    background-color: rgba(0, 0, 0, 0.5);
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.5);
    scrollbar-width:auto;
}

.gameCoverGroup {
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 27vh;
    aspect-ratio: 2/3;
    border-radius: 1vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    transition: height 0.1s ease-in-out;
}
.gameCoverGroup:hover {
    height: 27.5vh;
    filter: brightness(115%);
}
.gameCoverGroup:active {
    filter: brightness(90%);
}

.gameCover {
   border-radius: 1vh; 
}

#examinedCoverGroup {
    display: none; /* flex */
    position: fixed;
    height: 27vh;
    aspect-ratio: 2/3;
    border-radius: 1vh;
}

#gameName {
    display: none; /* flex */
    position: absolute;
    top: 2vh;
    left: 20vh;
    width: 58vh;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3vh;
    color: white;
    /* background-color: black; */
}

#gameDesc {
    display: none; /* block */
    position: absolute;
    text-align: justify;
    top: 7vh;
    left: 20vh;
    width: 58vh;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    color: white;
    /* background-color: black; */
}

#closeExamButton {
    display: none; /* flex */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.75vh;
    justify-content: center;
    align-items: center;
    top: 1vh;
    right: 1vh;
    height: 3vh;
    aspect-ratio: 1/1;
    font-size: 2vh;
    color: white;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#closeExamButton:hover {
    background-color: rgba(53, 53, 53, 0.5);
}

#vignette {
    display: flex;
    position: absolute;
    z-index: 1;
    height: 28.4vh;
    right: 0.4%;
    bottom: 6.65vh;
    opacity: 0.8;
    pointer-events: none;
}

#taskBar {
    display: flex;
    position: absolute;
    width: 82vh;
    height: 3vh;
    bottom: 0;
    background: linear-gradient(0deg,rgba(79, 127, 209, 1) 0%, rgba(42, 92, 184, 1) 88%, rgba(78, 146, 201, 1) 95%, rgba(42, 92, 184, 1) 100%);
    z-index: 10;
}

#startButton {
    display: flex;
    position: absolute;
    width: 8vh;
    height: 100%;
    bottom: 0;
    background: linear-gradient(0deg,rgba(44, 120, 56, 1) 0%, rgba(59, 176, 58, 1) 12%, rgba(59, 176, 58, 1) 88%, rgba(138, 188, 135, 1) 95%, rgba(59, 176, 58, 1) 100%);
    z-index: 11;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    justify-content: center;
    align-items: center;
}

#backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;
    z-index: 15;
    top: 5vh;
    left: 25vh;
    background-color: rgba(0, 0, 0, 0.5);
    height: 10vh;
    aspect-ratio: 5/2;
    border-radius: 2vh;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 5vh;
    color: white;
}