html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(../../RESOURCES/IMAGES/TEXTURES/plywood_diff_2k.jpg);
    background-repeat: repeat;
    background-size: 30%;
}

.blockSelect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

#background {
    position: relative; /* Make #drawingContainer position relative to this */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#drawingContainer {
    display: flex;
    position: absolute;
    height: 90vh;
    aspect-ratio: 64/85;
}

#drawingArt {
    mix-blend-mode:multiply;
}

.dirButton {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    height: 20vh;
    aspect-ratio: 1/2;
    box-shadow: 
        inset 2px 2px 5px rgba(255, 255, 255, 0.25), /* Top-left highlight */
        inset -2px -2px 5px rgba(0, 0, 0, 0.7); /* Bottom-right shadow */
    border-radius: 2vh;
    backdrop-filter: blur(0.2vh);
    filter: drop-shadow(1vh 1vh 1vh rgba(0,0,0,1));
}

.dirButton:hover {
    transform: scale(1.1);
}
.dirButton:active {
    transform: scale(0.9);
}

#nextDrawingButton {
    left: 80%;
    
}

#prevDrawingButton {
    right: 80%;
}

.arrow {
   width: 4vh;
   aspect-ratio: 1/1.1;
   opacity: 45%; 
}

@font-face {
    font-family: "Inter";
    src: url(../RESOURCES/FONTS/Inter-VariableFont_opsz\,wght.ttf);
}

#backButton {
    display: flex;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    border-radius: 2vh;
    justify-content: center;
    align-items: center;

    color: white;
    text-decoration: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 5vh;

    left: 2vh;
    top: 2vh;
    height: 10vh;
    width: 20vh;
    
    z-index: 100;

    backdrop-filter: blur(0.2vh);
    filter: drop-shadow(1vh 1vh 1vh rgba(0,0,0,1));
    box-shadow: 
        inset 2px 2px 5px rgba(255, 255, 255, 0.25), /* Top-left highlight */
        inset -2px -2px 5px rgba(0, 0, 0, 0.7); /* Bottom-right shadow */
}

#backButton:hover {
    transform: scale(1.1);
}

#backButton:active {
    transform: scale(0.9);
}